@model IEnumerable<DSED06_Aquatic_Pet_Store.Models.MARINE_SPECIES>

@{
    ViewBag.Title = "Species By Marine Class";
}

<h2>SpeciesByClass</h2>

<p>
    <!-- 
    @Html.ActionLink("Create New", "Create")
    -->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MARINE_CLASS.SCHEDULE4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPECIES_FK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCIENTIFIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMMON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEXT)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MARINE_CLASS.SCHEDULE4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPECIES_FK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCIENTIFIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMMON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEXT)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_PK }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_PK })
                <!--
                |
                 @Html.ActionLink("Delete", "Delete", new { id = item.ID_PK })
                -->
            </td>
        </tr>
    }
</table>
