@model IEnumerable<DSED06_Aquatic_Pet_Store.Models.PET_SIZE>

@{
    ViewBag.Title = "Index";
}

<h2>Pet Size Maintenance Page</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            @*  @Html.DisplayNameFor(model => model.DESCRIPTION)  *@
            Description
        </th>
        <th></th>
    </tr>
@{ int a = 0; }
@foreach (var item in Model.OrderBy(x => x.DESCRIPTION, 
                                    new DSED06_Aquatic_Pet_Store.Code_Common.PetSizeComparer())) {
    <tr>
        <td>
            @(++a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PK })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Aquatic Pet Store Main Page", "Index", "Home")
</div>
