@model IEnumerable<DSED06_Aquatic_Pet_Store.Models.PET_INFO>

@{
    ViewBag.Title = "Index";
}

<h2>Pet Information Maintenance Page</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            @*  @Html.DisplayNameFor(model => model.AQUATIC_GROUP.NAME)  *@
            Group
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.COMMON)   *@
            Common Name
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.SCIENTIFIC)  *@
            Scientific Name
        </th>
        <th></th>
    </tr>
    @* @foreach (var item in Model.OrderByDescending(x => x.ID_PK)) { *@
    @*    *@
    @{ int a = 0; }
    @foreach (var item in Model.OrderBy(x => x.PET_GROUP.NAME).ThenBy(n => n.COMMON)) {
        <tr>
            <td>@(++a)</td>
            <td>
                @Html.DisplayFor(modelItem => item.PET_GROUP.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMMON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCIENTIFIC)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID_PK }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID_PK }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID_PK })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Aquatic Pet Store Main Page", "Index", "Home")
</div>
