@model IEnumerable<FishInABox.Models.PET_GROUP>

@{
    ViewBag.Title = "Index";
}

<h2>Pet Group</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form asp-controller="PET_GROUP" asp-action="Index" method="get">

    <div>
        @Html.Label("Name Search - Leave this empty before searching to search entire table")
    </div>

    <p>
        Search: <input type="text" name="searchString"> <br />
    </p>
    <p>
        <input type="submit" value="Search" /> <br />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_PK }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_PK }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_PK })
            </td>
        </tr>
    }

</table>
