@{
    ViewBag.Title = "Home Page";
}


<div class="page-header">
    <h1>DSED06 Aquatic Pet Store</h1>
</div>




<div class="row">
    <div class="col-md-4">
        <!---  <h3></h3> -->

        <div class="list-group">
            <td>
                <h3> @Html.ActionLink("Pet Group", "Index", "PET_GROUP")</h3>
            </td>
            <td>
                <h3> @Html.ActionLink("Pet Information", "Index", "PET_INFO")</h3>
            </td>
            <td>
                <h3> @Html.ActionLink("Pet Size", "Index", "PET_SIZE")</h3>
            </td>
            <td>
                <h3> @Html.ActionLink("Pet Record", "Index", "PET_RECORD")</h3>
            </td>
            <td></td>

        </div>

    </div>
    <div class="col-md-4">
        <!-- <h3></h3>
        <br />   -->
        
        <div class="list-group">
            <td>
                <h3> @Html.ActionLink("Packing", "Index", "RECORD_PACKING")</h3>
            </td>
        </div>
    </div>

</div>