@model FishInABox.Models.PET_INFO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PET_INFO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMMON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCIENTIFIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCIENTIFIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PET_GROUP.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PET_GROUP.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
