@model DSED06_Aquatic_Pet_Store.Models.PET_RECORD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <!-- <h4>PET_RECORD</h4>  -->
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @* @Html.DisplayNameFor(model => model.CODE)  *@
            Code :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.DESCRIPTION)  *@
            Description :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PET_INFO.COMMON)  *@
            Common Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PET_INFO.COMMON)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PET_SIZE.DESCRIPTION)  *@
            Size :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PET_SIZE.DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Pet Record", "Edit", new { id = Model.ID_PK }) |
    @Html.ActionLink("Back to Pet Record Maintenance Page", "Index")
</p>
