@model IEnumerable<DSED06_Aquatic_Pet_Store.Models.PET_RECORD>

@{
    ViewBag.Title = "Index";
}

<h2>Pet Record Maintenance Page</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.CODE) *@
            Code
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.DESCRIPTION) *@
            Description
        </th>
        
        <th>
            @* @Html.DisplayNameFor(model => model.PET_SIZE.DESCRIPTION) *@
            Size
        </th>

        <th>
            @* @Html.DisplayNameFor(model => model.AQUATIC_PET.COMMON) *@
            Common Name
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.AQUATIC_PET.COMMON) *@
            Scientific Name
        </th>


        <th></th>
    </tr>
@{ int a = 0; }
@foreach (var item in Model.OrderBy(x=>x.CODE)) {
    <tr>
        <td>
            @(++a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PET_SIZE.DESCRIPTION)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PET_INFO.COMMON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PET_INFO.SCIENTIFIC)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PK })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Aquatic Pet Store Main Page", "Index", "Home")
</div>
