@model IEnumerable<DSED06_Aquatic_Pet_Store.Models.RECORD_PACKING>

@{
    ViewBag.Title = "Index";
}

<h2>Packing Maintenance Page</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.PET_RECORD.CODE)  *@
            Pet Code
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.PET_RECORD.CODE)  *@
            Pet Descripiton
        </th>
        <th>
            Pet Size
        </th>
        <th>
            Pcs / Bag
        </th>
        <th>
            Pcs / Box
        </th>
        <th></th>
    </tr>
@{ int a = 0;}
@foreach (var item in Model) {
    <tr>
        <td>
            @(++a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PET_RECORD.CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PET_RECORD.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PET_RECORD.PET_SIZE.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RECORD_FK }) |
            @Html.ActionLink("Details", "Details", new { id = item.RECORD_FK }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RECORD_FK })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Aquatic Pet Store Main Page", "Index", "Home")
</div>
